body {
	/* background-color : Cornsilk; */
        background-color : WhiteSmoke;
	font-family : Garamond;
position: center;
}

h1 {


text-align: center;

}
table.menu {
	margin : auto;
	border-spacing : 25px;
	border : 0;
	height : 70px;
}

header, footer {
	border-color : yellow;   
	background-color : MediumSeaGreen;
	border : 3px solid black;
    padding-bottom :0px;
	padding-top : 0px;
	margin-left : 0%;
	margin-right : 0%;
	width : 100%;
}


#body {




}
